// start .sSpecification
.sSpecification {
	--sPT: #{rem(26.5)};
	--sPB: #{rem(66)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(132)};
	}
	.dd-head-js {
		width: 100%;
		padding: rem(14) rem(16);
		color: $gray-900;
		background-color: $white;
		border: 1px solid $gray-900;
		border-radius: 5px;
		align-items: center;
    justify-content: space-between;
		.icon {
			fill: none;
			stroke: currentColor;
		}
	}
	&__wrap {
		// margin-bottom: rem(25);
		background-color: $white;
		padding: rem(30) rem(37.5) rem(36) rem(36);
	}
	&__head-list {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		overflow-x: auto;
    position: relative;
		button {
			@extend .btn;
			text-transform: uppercase;
			font-weight: 600;
			padding: 0;
			padding-bottom: rem(18);
			border-bottom: 3px solid transparent;
			color: $gray-670;
			margin-bottom: rem(22);
			&:not(:last-child) {
				margin-right: rem(40);
			}
			&:hover {
				border-bottom: 3px solid $yellow;
				color: #ccab00;
			}
			&.active {
				color: $gray-900;
				border-bottom: 3px solid $yellow;
			}
		}
	}
	&__head-wrap {
		min-width: rem(655);
	}
	&__type {
		margin-bottom: rem(14.5);
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: $gray-550;
			margin-top: rem(15.5);
		}
		.btn {
			@extend .btn;
			color: $black;
			font-weight: 500;
			font-size: rem(14);
			padding: rem(10) rem(15);
			background-color: $gray-100;
			margin-bottom: rem(10);
			&:checked {
				background-color: $yellow;
			}
			&:hover {
				border-color: $yellow;
			}
		}
	}
	&__range {
		h6 {
			font-weight: normal;
			font-size: rem(14);
			color: $black;
			margin-bottom: rem(19);
		}
		.irs {
			&-from, &-to {
				background-color: $yellow;
				color: $gray-900;
				&::before {
					border-top-color: $yellow;
				}
			}
			&-max, &-min {
				top: 47px;
				background-color: transparent;
			}
			&-bar {
				background-color: $yellow;
			}
			&-handle {
				width: 18px;
				height: 18px;
				background-color: $yellow;
				border: none;
				top: 29px;
			}
		}
		&--indent {
			padding-top: rem(30);
			@include media-breakpoint-up(lg) {
				padding-top: 0;
			}
		}
	}
	&__sorting {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: rem(23);
		padding-top: rem(25);
		@include media-breakpoint-up(lg) {
			gap: 0;
		}
		span {
			color: $gray-670;
			font-size: rem(14);
			margin-right: rem(17);
		}
		select {
			@include mt;
			background-color: transparent;
			border: none;
			font-size: rem(14);
			padding: 0;
			&:hover {
				color: $gray-670;
			}
			svg {
				@include mt;
				fill: none;
				stroke: currentColor;
				font-size: 7px;
			}
		}
	}
	&__option {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			margin-left: auto;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			gap: 5px;
		}
	}
	&__checkbox {
		cursor: pointer;
		display: flex;
		//align-items: center;

		input:checked + .square{
			&:after{
				opacity: 1;
			}
		}
		.square{
			display: block;
			flex-shrink: 0;
			background-color: $white;
			width: rem(22);
			height: rem(22);
			margin-right: rem(16);
			padding: rem(1);
			border-radius: 2px;
			border: 1px solid rgba(153, 153, 153, 0.5);
			&:after{
				@include mt();
				content: '';
				opacity: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: $gray-100;
				background-image: url(../img/svg/checked.svg);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.txt{
			display: block;
			font-size: rem(14);
			color: $gray-900;
		}
	}
	&__reset {
		background-color: transparent;
		border: none;
		padding: 0;
		padding-top: 13px;
		font-size: rem(14);
		text-decoration: underline;
		color: $gray-670;
		margin-left: 0;
		&:hover {
			text-decoration: none;
		}
		@include media-breakpoint-up(lg) {
			margin-left: rem(35);
		}
		@include media-breakpoint-up(md) {
			padding-top: 0;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 0;
			text-align: left;
		}
	}
	.sCards {
		--sPT: 0;
		--sPB: 0;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSpecification