extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sLast/_sLast.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sProjectCatalogDescription/_sProjectCatalogDescription.pug
include ../blocks/sSpecification/_sSpecification.pug
include ../blocks/sSimilarProjects/_sSimilarProjects.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sConstructionStages/_sConstructionStages.pug
include ../blocks/sProjectDevelopment/_sProjectDevelopment.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg=''

block title
	- let  title= 'Каркасные дома'
	title= title
block pagecontent
	+b.fixed-btns
		+e.btn(href="#")
			+icon('calculator')
		+e.btn(href="#")
			+icon('tell')
		+e.btn(href="#")
			+icon('chat')
	+mob-mnu()
	+header()
		+top-nav()
	+topLine()
	+page-head('Каркасные дома', 'Проекты домов')
	+sProjectCatalogDescription()
	+sSpecification()
	+sSimilarProjects()
	+sAdvantages()
	+sWork().sWork--white-bg
	+sConstructionStages()
	+sLast('Выполненные работы').sLast--white-bg
	+sProjectDevelopment()
	+sForm()
	+sVideo()
	+sContact()
	//-+footer()