extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCards/_sCards.pug
//- include ../blocks/sWork/_sWork.pug
//- include ../blocks/sLast/_sLast.pug
include ../blocks/sTalk/_sTalk.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sInfoAboutDelivery/_sInfoAboutDelivery.pug
include ../blocks/sProject/_sProject.pug
include ../blocks/sMaterials/_sMaterials.pug
include ../blocks/sProjectDescription/_sProjectDescription.pug
include ../blocks/sSimilarProjects/_sSimilarProjects.pug
include ../blocks/sVideo/_sVideo.pug

block variables
	- let  mainPage= 'inner-page individual-project' 
	- let  bg='01-380.png'

block title
	- let  title= 'Двухэтажный каркасный дом по индивидуальному проекту'
	title= title
block pagecontent
	+b.fixed-btns
		+e.btn(href="#")
			+icon('calculator')
		+e.btn(href="#")
			+icon('tell')
		+e.btn(href="#")
			+icon('chat')
	+mob-mnu()
	+header()
		+top-nav()
	+topLine()
	+page-head2('Двухэтажный каркасный дом по индивидуальному проекту', '', 'sTalk-2.jpg', 'sTalk-3.jpg', 'Каркасный дом по индивидуальному проекту с просторной террасой', 'Индивидуальный каркасный дом с мансардой', 'Фотографии готовых домов' ,'Двухэтажный каркасный дом по индивидуальному проекту')
	+sProject()
	+sSimilarProjects('Популярные проекты')
	+sTalk()
	+sVideo()
	+sContact()
	+scrollToTop()
	//-+footer()