mixin sProjectDevelopment(data)
	// start sProjectDevelopment
	+b.SECTION.sProjectDevelopment.section#sProjectDevelopment&attributes(attributes)
		.container
			+b.sm-yellow--title Разработка проекта
			h2 Разработка проекта
			.row
				.col-lg-7
					p В&nbsp;нашей компании можно заказать готовый пакет документации для строительства типового одноэтажного или двухэтажного каркасного дома, который будет выполнен по&nbsp;требованиям СНиП и&nbsp;ГОСТ. Предлагаем индивидуальное проектирование коттеджа, который будет соответствовать представлениям заказчика об&nbsp;идеальном доме для постоянного проживания. Типовые решения подробно описаны, сопровождаются 3D-моделями. Это позволяет быстро без ошибок возводить здания.
					p Строим под ключ недорогие зимние и&nbsp;летние каркасные дома, загородные коттеджи, дачи, бани. Работаем в&nbsp;Санкт-Петербурге и&nbsp;Ленинградской области, а&nbsp;также в&nbsp;любом регионе нашей страны.
					p Чтобы узнать подробнее детали сотрудничества&nbsp;&mdash; звоните или оставьте заявку в&nbsp;форме обратной связи на&nbsp;сайте. Менеджер свяжется с&nbsp;вами и&nbsp;подробно проконсультирует. Для удобства в&nbsp;меню бесплатный калькулятор, с&nbsp;помощью которого может быть составлена смета. Наш офис всегда открыт для клиентов в&nbsp;рабочее время, наши специлисты помогут вам с&nbsp;любым вопросом, ждем вас в&nbsp;гости!
				.col-lg-5.bg-wrap
					+pic('sLast-4.jpg', 'bg', 0).picture-bg
	// end sProjectDevelopment