include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin page-head(title, ...items)
	+b.page-head
		.container 
			h1!= title 
			+breadcrumb('Главная', ...items)

mixin inner-content()
	.container.container--main
		.row
			.col-lg-8.col--main
				block
			.col-lg-4.col--aside
				+b.choose-project
					h5 Выбрать проект:
					a(href="#")
						+pic('headerBlock-1.jpg')
						+e.content 
							p каркасные дома
							+icon('link-arrow')
							span от 341 100 ₽
					a(href="#")
						+pic('headerBlock-2.jpg')
						+e.content 
							p дома из бруса
							+icon('link-arrow')
							span от 295 000 ₽
					a(href="#")
						+pic('headerBlock-3.jpg')
						+e.content 
							p бани из бруса
							+icon('link-arrow')
							span от 250 000 ₽
				+b.consultation
					h5 Нужна консультация?
					p Мы перезвоним вам в течение 5&nbsp;минут и ответим на любые вопросы.
					+form-wrap()
						+input('Ваше имя')
						+input('+7 (_ _ _) _ _ _ - _ _ - _ _', 'tel')
						button(type='submit') Отправить
						+in-c('checkbox', 'Согласен на обработку данных')
