mixin sConstructionStages(data)
	// start sConstructionStages
	+b.SECTION.sConstructionStages.section#sConstructionStages&attributes(attributes)
		.container
			+b.sm-yellow--title этапы
			h2 Этапы строительства
			+e.tabs
				+e.tabs-btn.active Подготовка
				+e.tabs-btn Фундамент
				+e.tabs-btn Перекрытия и стены
				+e.tabs-btn Кровля
				+e.tabs-btn Фасад
				+e.tabs-btn Инженерия
				+e.tabs-btn Отделка
			+e.wrap
				+e.content
					p Первым подготовительным этапом при возведении каркасного дома являются земляные работы. В&nbsp;перечень данных мероприятий включают рытьё котлована, создание основания и&nbsp;подушки для фундамента здания, формирование канализационной, ливневой и&nbsp;дренажной системы, а&nbsp;также тщательное уплотнение грунта методом трамбовки специальным инструментом.
				+e.wrap-bg
					+pic('sConstructionStages-bg.jpg', 'bg', 0)
	// end sConstructionStages